
:root {
	--primary-color: #fdd610;
	--secondary-color: #C5C3C6;
    --accent1-color: #01060C;
    --accent2-color: #1985A1;
    --writeup-color: #f01123;
	--heading-font: 'montserrat', Helvetica, sans-serif;
	--padding: 1rem;
	--border: 1px solid rgb(0 0 / 0.1);
}
    body {
        font-family: "Roboto", serif;
        background-color: var(--secondary-color);
        color: var(--accent1-color);
        max-width: 1200px;
    }
    header {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 120px 1fr 1fr;
        align-items: center;
        border-bottom: 1px solid #ccc;
        max-width: 1000px;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    h1,h2 {
        color: var(--writeup-color);
    }
    .button {
        text-decoration: none;
        background-color: var(--text-color);
        color: #63b2da;
        padding: 1rem;
        border: 1px solid #f1f6f8;
        border-radius: 10px;
    }
    figcaption {
        text-align: center;
    }
    .figure_flex {
        display: flex;
    }
    figure img {
        width: 300px;
    }
    figure {
        padding: 1%;
        margin: 10px;
    }
    
    p {
        color:#000
    }
    nav a {
        text-decoration: none;
        color: var(--writeup-color);
    }

    .sociallinks a:hover img {
        opacity: 0.8;
    }
    .hero {
       position: relative;
       margin: 10px auto;
       background-size: cover;
       background-position: center;
    }
    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }
    h1 {
        position: absolute;
        top: 47%;
        right: 40%;
        text-align: center;
        display: block;
        padding: 10 810px;
        background-color: #63b2da;
    }
    article {
        position: absolute;
        top: 59%;
        right: 15%;
        left: 20%;
        background-color: #e6ed63;
        opacity: 0.7;
        padding: 15px;
    }
    article img {
        float: right;
    }
    