
:root {
	--primary-color: #fdd610;
	--secondary-color: #C5C3C6;
    --accent1-color: #01060C;
    --accent2-color: #1985A1;
    --writeup-color: #f01123;
	--heading-font: 'montserrat', Helvetica, sans-serif;
	--padding: 1rem;
	--border: 1px solid rgb(0, 0, 0.1);
}
    body {
        font-family: "Roboto", serif;
        background-color: var(--secondary-color);
        color: var(--accent1-color);
        max-width: 2000px;
    }
    header {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 400px;
        justify-content: center;
        align-items: center;
        border-bottom: 10px solid #686a40;
        max-width: 1250px;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }
    header img {
        width: 100px;
        left: 200%;
    }
    nav ul {
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        text-decoration: none;
        color: var(--writeup-color);
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    h1,h2 {
        color: var(--writeup-color);
    }
    .button {
        text-decoration: none;
        background-color: var(--text-color);
        color: #63b2da;
        padding: 1rem;
        border: 1px solid #f1f6f8;
        border-radius: 10px;
    }
    figcaption {
        text-align: center;
    }
    .figure_flex {
        display: flex;
    }
    figure img {
        width: 300px;
    }
    figure {
        padding: 0;
        margin: 10px;
    }
    p {
        color:#000
    }
    .sociallinks a:hover img {
        opacity: 0.8;
    }
    .hero {
       position: relative;
       margin: 10px auto;
       background-size: cover;
       background-position: center;
    }
    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }
    h1 {
        position: absolute;
        top: 77%;
        right: 30%;
        text-align: center;
        display: block;
        padding: 10px;
        background-color: #c3c5c5;
    }
    article {
        position: absolute;
        top: 92%;
        right: 15%;
        left: 13%;
        background-color: #e6ed63;
        opacity: 0.7;
        padding: 15px;
    }
    article img {
        float: right;
    }
    