
:root {
	--primary-color: #fdd610;
	--secondary-color: #C5C3C6;
    --accent1-color: #01060C;
    --accent2-color: #1985A1;
    --writeup-color: #f01123;
	--heading-font: 'montserrat', Helvetica, sans-serif;
	--padding: 1rem;
	--border: 10px solid rgb(0, 0, 0.1);
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
    width: 200px;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}
.navigation li {
	flex: 1 1 auto;
}
.navigation a:hover {
	color: rgb(25, 22, 11);
	font-weight: 700;
	text-decoration: underline;
}

body {
	font-family: "Roboto", serif;
        background-color: var(--secondary-color);
        color: var(--accent1-color);
        max-width: 2000px;
}

article {
	margin: 1em auto;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 1em;
	background-color: #ace;
	width: min(600px, 100%);
	font-size: 1.2rem;
}
    .navbar{
        width: 95%;
        height: auto;
        margin-right: 30px;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: var(--writeup-color);
        padding: 1rem;
        text-decoration: none;
    }

    h1,h2 {
        color: var(--writeup-color);
    }
    .button {
        text-decoration: none;
        background-color: var(--text-color);
        color: #63b2da;
        padding: 1rem;
        border: 100px solid #f1f6f8;
        border-radius: 10px;
    }
    figcaption {
        text-align: center;
    }
    .figure_flex {
        display: flex;
    }
    figure img {
        width: 300px;
    }
    figure {
        padding: 0;
        margin: 10px;
    }
    p {
        color:#000
    }
    .sociallinks a:hover img {
        opacity: 0.8;
    }
    .sociallinks {
        display: flex;
        justify-content: right;
    }
    .hero {
       position: relative;
       margin: 10px auto;
       background-size: cover;
       background-position: center;
    }
    .hero img {
        display: block;
        width: 100%;
        height: auto;
        float: right;
    }
    h1 {
        position: absolute;
        top: 27%;
        right: 30%;
        text-align: center;
        display: block;
        padding: 10px;
        background-color: #c3c5c5;
    }
    article {
        position: absolute;
        top: 39%;
        right: 23%;
        left: 13%;
        background-color: #e6ed63;
        opacity: 0.7;
        padding: 15px;
    }
    article img {
        float: right;
    }
    